@font-face {
    font-family: "AlexBrush-Regular";
    font-style: normal;
    src: url('fonts/AlexBrush-Regular.ttf');
}


@font-face {
    font-family: "KR Wedding";
    font-style: normal;
    src: url('fonts/KR Wedding.ttf');
}

@font-face {
    font-family: "AFL Font Pespaye Nonmetric";
    font-style: normal;
    src: url('fonts/aflfont.ttf');
}

body {
    font-family: AlexBrush-Regular;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.7em;
    padding: 10px;
}

.wedding-icon {
    font-size: 10em;
    text-align: center;
    font-family: "KR Wedding";
}

.main {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    border: 5px solid rgb(212, 212, 212);
    border-radius: 15px;
    padding: 10px;
}

.section-title {
    background-color: rgb(242, 222, 222);
    border-radius: 15px;
    margin-top: 10px;
}

p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.text-bleu {
    color: rgb(81, 167, 249);
}

.border-bleu {
    border: 5px solid rgb(81, 167, 249);
}

.text-orange {
    color: rgb(243, 144, 25);
}

.border-orange {
    border: 5px solid rgb(243, 144, 25);
}

.text-vert {
    color: rgb(112, 191, 65);
}

.border-vert {
    border: 5px solid rgb(112, 191, 65);
}

.text-mauve {
    color: rgb(137, 125, 244);
}

.border-mauve {
    border: 5px solid rgb(137, 125, 244);
}

img.size {
    width: 275px;
    height: 183px;
}

p.gps {
    font-family: AFL Font Pespaye Nonmetric;
}
